@page "/b/{BriefingId}/edit"

@implements IDisposable

@inject CurrentPage CurrentPage
@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager

<!-- FilePond styles -->
<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css" rel="stylesheet">
<link href="https://unpkg.com/filepond/dist/filepond.min.css" rel="stylesheet">
<link href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css" rel="stylesheet">
<style>
    @@media (min-width: 900px) {
        .filepond--item {
            width: calc(50% - .5em);
        }
    }
</style>
<!-- End FilePond styles -->

<AuthenticationModal @ref="_authModal" IsShown="@(!_authenticated)"></AuthenticationModal>

<h5 class="subtitle" @onclick="() => ChangeCategoryState(0)">General Data <span class="feather icon-chevron-@(GetCategoryState(0) ? "down" : "right")"></span></h5>
<div class="category" data-visible="@GetCategoryState(0).ToString()">
    <div class="input-item">
        <span class="input-title">Server <span class="important">*</span></span>
        <select @bind="_server" class="input-value server-select">
            <option value="Casual">Casual Server</option>
            <option value="Training">Training Server</option>
            <option value="Expert">Expert Server</option>
        </select>
    </div>
    <div class="input-item">
        <span class="input-title">Departure Airport <span class="important">*</span></span>
        <input type="text" placeholder="KLAX" @bind="_departureAirport" maxlength="4" class="input-value uppercase-text">
    </div>
    <div class="input-item">
        <span class="input-title">Arrival Airport <span class="important">*</span></span>
        <input type="text" placeholder="KSFO" @bind="_arrivalAirport" maxlength="4" class="input-value uppercase-text">
    </div>
    <div class="input-item">
        <span class="input-title">Departure Runway <span class="important">*</span></span>
        <input type="text" placeholder="11L" @bind="_departureRunway" maxlength="3" class="input-value uppercase-text">
    </div>
    <div class="input-item">
        <span class="input-title">Arrival Runway <span class="important">*</span></span>
        <input type="text" placeholder="26R" @bind="_arrivalRunway" maxlength="3" class="input-value uppercase-text">
    </div>
    <div class="input-item">
        <span class="input-title">Flight Level (FL) <span class="important">*</span></span>
        <input type="number" placeholder="350" @bind="_flightLevel" class="input-value">
    </div>
    <div class="input-item">
        <span class="input-title">Cruise Speed (Mach) <span class="important">*</span></span>
        <input type="number" step="0.01" placeholder="0.80" @bind="_cruiseSpeed" class="input-value uppercase-text">
    </div>
    <div class="input-item">
        <span class="input-title">Departure Time (Zulu, today) <span class="important">*</span> <p class="current-time" @ref="_currentTimeElement"></p></span>
        <TimeSelect @ref="@_departureTimeSelect" HoursCount="23" DepartureTimeSelect="@true"></TimeSelect>
    </div>
    <div class="input-item">
        <span class="input-title">Time Enroute (ETE) <span class="important">*</span></span>
        <TimeSelect @ref="@_timeEnrouteSelect" HoursCount="23"></TimeSelect>
    </div>
    <div class="input-item">
        <span class="input-title">Flight Plan <span class="important">*</span></span>
        <textarea class="input-value uppercase-text" placeholder="KLAX ... KSFO" @bind="_flightPlan"></textarea>
        <button class="button-fpl-from-if btn btn-secondary">Get from IF</button>
    </div>
    <div class="input-item">
        <span class="input-title">Author</span>
        <input type="text" placeholder="The author of this briefing. Leave empty if you want it to be anonymous." @bind="_author" class="input-value">
    </div>
    <div class="input-item">
        <span class="input-title">Remarks</span>
        <textarea class="input-value" placeholder="Anything else you'd like to add?" @bind="_remarks"></textarea>
    </div>
</div>
<h5 class="subtitle" @onclick="() => ChangeCategoryState(1)">Attachments <span class="feather icon-chevron-@(GetCategoryState(1) ? "down" : "right")"></span></h5>
<div class="category" data-visible="@GetCategoryState(1).ToString()">
    <InfoDialog Information="Only images are accepted. Drag to reorder."></InfoDialog>
    <input type="file" class="filepond" name="filepond" data-max-file-size="3MB" data-max-files="10" multiple>
</div>
<h5 class="subtitle" @onclick="() => ChangeCategoryState(2)">Security <span class="feather icon-chevron-@(GetCategoryState(2) ? "down" : "right")"></span></h5>
<div class="category" data-visible="@GetCategoryState(2).ToString()">
    <InfoDialog Information="You can't change your passwords, but you can make your briefing public if it wasn't before."></InfoDialog>
    <div class="input-item">
        <span class="input-title">Briefing Type</span>
        <select @bind="_briefingType" class="input-value type-select">
            <option value="Public">Public</option>
            <option value="Private">Private</option>
        </select>
    </div>
    <div class="input-item">
        <span class="input-title">View Password</span>
        <input type="password" placeholder="Used to view the briefing. Only used when briefing type is set to Private." @bind="_viewPassword" class="input-value">
    </div>
</div>

<div class="submit">
    <button class="button-submit btn btn-primary" @onclick="Submit">Submit</button>
    <LoadingIndicator IsShown="@_showLoadingIndicator" IsInline="true" AddLeftMargin="true"></LoadingIndicator>
</div>
