@page "/b/{BriefingId}"
@page "/b"

@layout BriefingLayout;

@using IFToolsBriefings.Data.Models
@using IFToolsBriefings.Data

@inject CurrentPage CurrentPage
@inject NavigationManager NavManager
@inject IJSRuntime JsRuntime

<style> .content { height: 100vh } </style>

<link href="css/magnific-popup.css" rel="stylesheet">

<AuthenticationModal @ref="_authModal" IsShown="@(!_authenticated)" IsViewPassword="@true"></AuthenticationModal>

<div class="wrapper">
    <div class="section section-title">
        <img class="logo-image" alt="logo" src="images/logos/logo.png">
    </div>
    <div class="section section-description">
        <h3 class="briefing-title">Briefing #@_actualBriefingId <a href="/b/@_actualBriefingId/edit"><span class="feather icon-edit"></span></a></h3>
        <h3 class="briefing-airports">@_displayBriefing.Origin - @_displayBriefing.Destination</h3>
        <span class="briefing-author">@(!string.IsNullOrWhiteSpace(_displayBriefing.Author) ? $"Made by {_displayBriefing.Author}" : "Anonymous")</span>
    </div>
    <div class="section section-main-info">
        <h4 class="section-title">Main Info</h4>
        <div class="main-info">
            <div class="main-info-item">
                <span class="key">Server</span>
                <span class="value">@_displayBriefing.Server</span>
            </div>
            <div class="main-info-item">
                <span class="key">Dep. RWY</span>
                <span class="value">@_displayBriefing.OriginRunway</span>
            </div>
            <div class="main-info-item">
                <span class="key">Arr. RWY</span>
                <span class="value">@_displayBriefing.DestinationRunway</span>
            </div>
            <div class="main-info-item">
                <span class="key">Flight Level</span>
                <span class="value">@("FL" + GetFlightLevelToDisplay(_displayBriefing.FlightLevel))</span>
            </div>
            <div class="main-info-item">
                <span class="key">Cruise SPD</span>
                <span class="value">@(GetCruiseSpeedToDisplay(_displayBriefing.CruiseSpeed))</span>
            </div>
            <div class="main-info-item">
                <span class="key">Time Enroute</span>
                <span class="value">@(GetTimeEnrouteString(_displayBriefing.GetTimeEnroute()))</span>
            </div>
            <div class="main-info-item">
                <span class="key">Departure Time</span>
                <span class="value">@(GetDepartureTimeString(_displayBriefing.DepartureTime) + "Z")</span>
            </div>
        </div>
    </div>
    <div class="section section-flight-plan">
        <h4 class="section-title">Flight Plan <span class="feather icon-clipboard" onclick="navigator.clipboard.writeText('@_displayBriefing.FlightPlan')"></span></h4>
        <p class="flight-plan">@_displayBriefing.FlightPlan</p>
    </div>
    @if (!string.IsNullOrWhiteSpace(_displayBriefing.Remarks))
    {
        <div class="section section-remarks">
            <h4 class="section-title">Remarks</h4>
            <p class="remarks">@((MarkupString)_displayBriefing.Remarks.Replace("\n", "<br>"))</p>
        </div>
    }
    <div class="section section-attachments">
        <h4 class="section-title">Attachments</h4>
        <div class="attachments-gallery">
            @if (_attachments.Count > 0)
            {
                @foreach (var attachment in _attachments)
                {
                    <a href="@GetPathForAttachment(attachment)" class="gallery-item">
                        <img class="attachment-preview" alt="attachment" src="@GetPathForAttachment(attachment)">
                    </a>
                }
            }
            else
            {
                <p class="no-attachments">Nothing attached.</p>
            }
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string BriefingId { get; set; }

    private int _actualBriefingId;

    private Briefing _displayBriefing = Briefing.Default;
    private Briefing _briefing;
    private List<FileAttachment> _attachments = new();

    private IJSObjectReference _jsModule;

    private AuthenticationModal _authModal;
    private bool _authenticated;

    private readonly DatabaseContext _databaseContext;
        
    private const string BaseAttachmentsPath = "images/attachments/";

    public ViewBriefing()
    {
        _databaseContext = new DatabaseContext();
    }
    
    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(BriefingId) || !int.TryParse(BriefingId, out _actualBriefingId))
        {
            NavManager.NavigateTo("/");
            
            return;
        }
        
        CurrentPage.SetCurrentPageName($"#{BriefingId} - Briefings");

        _briefing = _databaseContext.Briefings.SingleOrDefault(entity => entity.Id == _actualBriefingId);
        if (_briefing == null)
        {
            NavManager.NavigateTo("/");
            
            return;
        }

        _authenticated = string.IsNullOrWhiteSpace(_briefing.ViewPasswordHash);

        if (_authenticated)
        {
            _displayBriefing = _briefing;
            AddAttachments();
        }
        
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _authModal.Authenticate += Authenticate;
            
            _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/viewBriefing.js");
            if(_authenticated)
                await _jsModule.InvokeVoidAsync("initMagnificPopup");
        }
    }
    
    private void Authenticate(string password)
    {
        if (string.IsNullOrWhiteSpace(password)) return;
            
        if (PasswordHasher.Check(_briefing.ViewPasswordHash, password))
        {
            _authenticated = true;
            _authModal.Hide();
            _displayBriefing = _briefing;
            AddAttachments();
            
            StateHasChanged();
        }
        else
        {
            CurrentPage.ShowNotification("Wrong password.");
            return;
        }
            
        _jsModule.InvokeVoidAsync("initMagnificPopup");
    }

    private string GetPathForAttachment(FileAttachment attachment)
    {
        return BaseAttachmentsPath + attachment.FileName;
    }

    private void AddAttachments()
    {
        if (!string.IsNullOrWhiteSpace(_briefing.Attachments))
        {
            foreach (var attachmentGuid in _briefing.AttachmentsArray)
            {
                var attachment = _databaseContext.Attachments.Single(entity => entity.Guid == attachmentGuid);
                
                _attachments.Add(attachment);
            }
        }
        
        StateHasChanged();
    }

    private string GetTimeEnrouteString(TimeSpan timeEnroute)
    {
        return AddZeroesIfNeeded(timeEnroute.Hours) + ":" + AddZeroesIfNeeded(timeEnroute.Minutes);
    }
    
    private string GetDepartureTimeString(DateTime depTime)
    {
        return AddZeroesIfNeeded(depTime.Hour) + ":" + AddZeroesIfNeeded(depTime.Minute);
    }
    
    private string AddZeroesIfNeeded(int number)
    {
        return number.ToString().Length == 1 ? "0" + number : number.ToString();
    }

    private string GetFlightLevelToDisplay(int flightLevel)
    {
        return $"{flightLevel:000}";
    }

    private string GetCruiseSpeedToDisplay(double cruiseSpeed)
    {
        return cruiseSpeed < 4 ? $"M{cruiseSpeed:0.00}" : $"TAS {cruiseSpeed}";
    }

}